body {
    margin: 0;
    background: black;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

#main-content {
    /*background-image: url('http://i.cdn.turner.com/drp/nba/blazers/sites/default/files/bball-giffy-v1.gif');*/
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

table.qtrscore th,
table.qtrscore td {
    padding: 0 7px;
    text-align: center;
}

.team-game-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

th {
    border-bottom: 1px solid #ccc !important;
}

.game-day {
    color: white;
}

.games {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-box {
    margin-top: 20px;
    padding: 10px;
    width: 350px;
}

.game-details {
    color: gray;
    font-weight: 100;
    margin-bottom: 5px;
}

.round {
    font-weight: 100;
    margin-bottom: 0;
}

.hour {
    font-size: 20px;
    margin-bottom: 0 !important;
}

.tune-in {
    color: gray;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: capitalize;
}

.home.game {
    padding: 10px 18px;
}

.away.game {
    padding: 24px 18px;
}

.active.game {
    padding: 14px 18px;
}

.final.game {
    padding: 0
}



/*.game-box:nth-child(odd) {
  background: peachpuff;
}

.game-box:nth-child(even) {
  background: peachpuff;
}*/

hr {
    flex-shrink: 0;
}

.game-box {
    background: peachpuff;
}

.arena {
    color: gray;
    margin-top: 1px;
    margin-bottom: 0;
}

.svg-inline--fa.fa-w-18 {
    width: .8em !important;
}

.team-logo {
    max-width: 50px;
    margin-top: 12px;
}

.svg-inline--fa.fa-w-18 {
    width: 2em !important;
}


@media (max-width: 500px) {
    h3 {
        font-size: 1.9rem !important;
    }
}